* {
  margin: 0;
  padding: 0;
 }

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/************************ ESTILOS QUE SON COMUNES EN LAS PAGINAS (FONDO, HEADER Y FOOTER)  ************************/


body {
  background-color: #c9f8c3;
}

.encabezado {
  padding: 15px;
}

.logoImg {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.navegacion li:hover {
  font-size: 1.25rem;
  transition: all 0.5s;
}

.navegacion a:hover {
  color: darkgreen;
}

.enlaceMail {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.enlaceMail img {
  height: 60px;
  width: 60px;
}

.footerInicio {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: rgb(202, 202, 255);
}

.footerInicio h3 {
  font-size: 1rem;
}

.redes {
  text-align: right;
  margin-right: 80px;
}

.redes li {
  display: inline;
}

.redes img {
  width: 30px;
}

.footerInicio p {
  font-size: 1rem;
  margin: 0px;
  color: rgb(255, 58, 58);
}

/************************ ESTILOS PARA PAGINA DE INICIO ************************/

.tituloInicio {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: ghostwhite;
}

.tituloInicio h1 {
  color: green;
}

.tituloInicio p {
  font-family: "Satisfy", cursive;
}

.staffInicio {
  border: 1px solid black;
  margin: 10px 10px 0px 10px;
  padding: 10px 10px 0px 10px;
  /* font-family: "Satisfy", cursive; */
}

.servicioInicio {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: ghostwhite;
}

.servicioInicio p {
  font-family: "Satisfy", cursive;
  font-size: 20px;
}

.imagenCarousel {
  height: 300px;
  object-fit: contain;
}

.clientesInicio {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: ghostwhite;
}

.clientesInicio h2 {
  font-size: 40px;
}

.clientesInicio img {
  width: 200px;
  height: 90px;
  object-fit: contain;
}

.clientesInicio li {
  list-style-type: none;
  font-family: "Satisfy", cursive;
}

/************************ ESTILOS PARA PAGINA SOBRE NOSOTROS ************************/

.tituloNosotros {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: ghostwhite;
}

.tituloNosotros h1 {
  color: green;
}

.tituloNosotros p {
  font-family: "Satisfy", cursive;
}

.parrafoNosotros {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: ghostwhite;
}

.parrafoNosotros p {
  font-family: "Satisfy", cursive;
}

.clientesNosotros {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: ghostwhite;
}

.clientesNosotros h2 {
  font-size: 40px;
}

.clientesNosotros img {
  width: 200px;
  height: 90px;
  object-fit:contain;
}

.clientesNosotros li {
  list-style-type: none;
  font-family: "Satisfy", cursive;
}

/************************ ESTILOS PARA PAGINA SERVICIOS ************************/

.tituloServicios {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: ghostwhite;
}

.tituloServicios h1 {
  color: green;
}

.tituloServicios p {
  font-family: "Satisfy", cursive;
}

.tareasServicios {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(213, 255, 204);
}

.tareas {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  background-color: ghostwhite;
}

.tareasCentradas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tareasServicios img {
  display: inline-block;
  width: 350px;
}

.tareasServicios h2 {
  color: black;
  font-size: 32px;
}

.tareasServicios h3 {
  font-size: 24px;
  margin-top: 10px;
}

.tareasServicios ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  margin-left: 30px;
}

.tareasServicios ol {
  list-style-type: none;
}

.tareasServicios li {
  list-style-type: none;
  font-family: "Satisfy", cursive;
}

.tituloEjServicios {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  background-color: ghostwhite;
}

.tituloEjServicios h2 {
  display: block;
  font-size: 32px;
  text-align: center;
}

.ejServicios {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.ejemplo {
  display: block;
}

.ejServicios iframe {
  width: 400px;
}

.ejServicios p {
  font-family: "Satisfy", cursive;
  font-size: 20px;
  margin: 10px;
}

/************************ ESTILOS PARA PAGINA NOTICIAS ************************/

.tituloNoticias {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: ghostwhite;
  }
  
  .tituloNoticias h1 {
    color: green;
  }
  
  .tituloNoticias p {
    font-family: "Satisfy", cursive;
  }
  
  .parrafoNoticias {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: ghostwhite;
  }
  
  .parrafoNoticias p {
    font-family: "Satisfy", cursive;
  }

  .parrafoNoticias img {
    height: 200px;
    margin: 10px 20px 0px 20px;
  }

/************************ ESTILOS PARA PAGINA CONTACTO ************************/

.tituloContacto {
border: 1px black solid;
margin: 10px;
padding: 10px;
text-align: center;
background-color: ghostwhite;
}

.tituloContacto h1 {
  color: green;
}

.tituloContacto p {
  font-family: "Satisfy", cursive;
}

.formularioContacto {
  padding: 10px;
  margin: 10px;
  border: 1px black solid;
  background-color: ghostwhite;
  display: inline-block;
  text-align: center;
}

.listaContacto {
  display: inline-block;
}

.listaContacto li {
  list-style-type: none;
  margin: 10px;
  font-family: "Satisfy", cursive;
}

.formBotonContacto {
  padding-top: 20px;
  text-align: end;
}

.formBotonContacto input {
  width: 100px;
}