/* ESTILO BLOQUE DE CLIENTES */

.clientes {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    margin: $margenBloques;
    padding: $paddingBloques;
    background-color: ghostwhite;
  
    h2 {
        font-size: 40px;
    }
  
    img {
        width: 200px;
        height: 90px;
        object-fit: contain;
    }
  
    li {
        list-style-type: none;
        font-size: 1.15rem;
        font-family: $fuenteCuerpo;
    }
  
}
