/* ESTILO BLOQUE DE TITULO DE LOS 5 HTMLS */

.titulo {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    margin: $margenBloques;
    padding: $paddingBloques;
    text-align: center;
    background-color: ghostwhite;
  
    h1 {
        color: green;
    }
  
    p {
        font-size: $tamFuenteParrafo;
        font-family: $fuenteCuerpo;
    }
}