.titulo {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: ghostwhite;
  
    h1 {
        color: green;
    }
  
    p {
        font-size: $tamFuenteParrafo;
        font-family: "Satisfy", cursive;
    }
}