// @import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@1,300&display=swap");

@import "variables";
@import "headerFooter";
@import "titulo";
@import "clientes";

/************************ ESTILOS PARA PAGINA DE INICIO ************************/

.staffInicio {
  @extend .estiloBloques;
  margin: 10px 10px 0px 10px;
  padding: 10px 10px 0px 10px;

  img {
    width: 283px;
    object-fit: contain;
  }

  .informacionStaff {
    @include fuenteParrafo;
  }
}

.servicioInicio {
  @extend .estiloBloques;

  p {
    @include fuenteParrafo;
  }
}

.imagenCarousel {
  height: 300px;
  object-fit: contain;
}

/************************ ESTILOS PARA PAGINA SOBRE NOSOTROS ************************/

.parrafoNosotros {
  @extend .estiloBloques;
  height: 96%;

  p {
    @include fuenteParrafo;
  }

  img {
    margin-bottom: 10px;
  }
}

/************************ ESTILOS PARA PAGINA SERVICIOS ************************/

.tareasServicios {
  @extend .estiloBloques;
  height: 96%;

  img {
    display: inline-block;
    width: 350px;
    height: 200px;
    object-fit: contain;
  }

  h2 {
    color: black;
    font-size: 32px;
  }

  h3 {
    margin-top: 15px;
  }

  p {
    @include fuenteParrafo;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 10px 0px;

    li {
      padding: 0px;
      margin: 0px;
      @include fuenteParrafo;
    }
  }
}

.bloqueEjServicios {
  @extend .estiloBloques;
  .ejServicios {
    display: inline-block;

    iframe {
      margin: 0px 0px 10px 0px;
      padding: 0px;
      width: 400px;
      height: 225px;
    }

    p {
      @include fuenteParrafo;
    }
  }
}

/************************ ESTILOS PARA PAGINA NOTICIAS ************************/

.noticia {
  @extend .estiloBloques;
  height: 96%;

  p {
    @include fuenteParrafo;
  }

  img {
    height: 200px;
    margin: 10px;
  }

  div {
    padding-bottom: 10px;
  }
}

/************************ ESTILOS PARA PAGINA CONTACTO ************************/

.formularioContacto {
  @extend .estiloBloques;
  text-align: center;
}

.listaContacto {
  display: inline-block;

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style-type: none;
    font-family: map-get($fuenteGral, fuenteCuerpo);
    font-style: map-get($fuenteGral, fuenteEstilo);
    padding-bottom: 10px;
  }

  p {
    display: inline-block;
    width: 170px;
    margin: 0px;
    padding: 0px;
    font-size: map-get($fuenteGral, tamFuenteParrafo);
  }
}

.formBotonContacto {
  padding-top: 20px;

  input {
    @include fuenteParrafo;
    width: 120px;
  }
}

.mapaContacto {
  @extend .estiloBloques;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  iframe {
    display: inline-block;
    width: 350px;
    height: 350px;
  }
}

/************************ MEDIA QUERY PARA ADAPTAR IMAGENES A PANTALLAS MAS CHICAS ************************/

@media (max-width: 860px) {
  .titulo img {
    width: 280px;
    object-fit: contain;
  }

  .parrafoNosotros img {
    width: 280px;
    object-fit: contain;
  }

  .tareasServicios img {
    width: 280px;
  }

  .bloqueEjServicios {
    .ejServicios {
      iframe {
        width: 350px;
        height: 197px;
      }
    }
  }

  .noticia img {
    width: 280px;
    object-fit: contain;
  }

  .mapaContacto iframe {
    width: 280px;
    height: 280px;
  }
}

/************************ MEDIA QUERY PARA ADAPTAR IMAGENES A PANTALLAS MAS CHICAS ************************/

@media (max-width: 450px) {
  .titulo img {
    width: 250px;
    object-fit: contain;
  }

  .parrafoNosotros img {
    width: 250px;
    object-fit: contain;
  }

  .tareasServicios img {
    width: 250px;
  }

  .bloqueEjServicios {
    .ejServicios {
      iframe {
        width: 250px;
        height: 141px;
      }
    }
  }

  .noticia img {
    width: 250px;
    object-fit: contain;
  }

  .mapaContacto iframe {
    width: 250px;
    height: 250px;
  }
}
