
  @import "variables";
  @import "headerFooter";
  @import "titulo";
  @import "clientes";

  //@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
  
  /************************ ESTILOS PARA PAGINA DE INICIO ************************/
  
  .staffInicio {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    background-color: ghostwhite;
  
    p {
      font-family: $fuenteCuerpo;
      font-size: $tamFuenteParrafo;
    }

  }
  
  .servicioInicio {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    margin: $margenBloques;
    padding: $paddingBloques;
    background-color: ghostwhite;
  
    p {
      font-family: $fuenteCuerpo;
      font-size: 20px;
    }

  }
  
  .imagenCarousel {
    height: 300px;
    object-fit: contain;
  }
  
  /************************ ESTILOS PARA PAGINA SOBRE NOSOTROS ************************/
  
  .parrafoNosotros {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    margin: $margenBloques;
    padding: $paddingBloques;
    background-color: ghostwhite;
  
    p {
      font-size: $tamFuenteParrafo;
      font-family: $fuenteCuerpo;
    }
  
    div {
      border: $bordesBloques;
      border-radius: $redondeoBordes;
      padding: 10px;
      background-color: ghostwhite;
    }
  
  }
  
  /************************ ESTILOS PARA PAGINA SERVICIOS ************************/
  
  .tareasServicios {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    background-color: ghostwhite;
    margin: $margenBloques;
    padding: $paddingBloques;
  
    img {
      display: inline-block;
      width: 350px;
      height: 200px;
      object-fit: contain;
    }
  
    h2 {
      color: black;
      font-size: 32px;
    }
  
    h3 {
      margin-top: 15px;
    }
  
    p {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      font-size: $tamFuenteParrafo;
      font-family: $fuenteCuerpo;
    }

  }

  .ejServicios {

    iframe {
      width: 400px;
    }
  
    p {
      margin: 10px;
      font-size: $tamFuenteParrafo;
      font-family: $fuenteCuerpo;
    }

  }
  
  /************************ ESTILOS PARA PAGINA NOTICIAS ************************/
  
  .noticia {
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    margin: $margenBloques;
    padding: $paddingBloques;
    background-color: ghostwhite;
  
    p {
      font-size: $tamFuenteParrafo;
      font-family: $fuenteCuerpo;
    }
  
    img {
      height: 200px;
      margin: 10px;
    }

  }

  /************************ ESTILOS PARA PAGINA CONTACTO ************************/
  
  .formularioContacto {
    padding: $paddingBloques;
    margin: $margenBloques;
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    background-color: ghostwhite;
    text-align: center;
  }
  
  .listaContacto {
    display: inline-block;
  
    ul {
      margin: 0px;
      padding: 0px;
    }
  
    li {
      list-style-type: none;
      font-family: $fuenteCuerpo;
      padding-bottom: 10px;
    }
  
    p {
      display: inline-block;
      width: 170px;
      margin: 0px;
      padding: 0px;
      font-size: $tamFuenteParrafo;
    }

  } 

  .formBotonContacto {
    padding-top: 20px;
  
    input {
      font-size: $tamFuenteParrafo;
      width: 120px;
      font-family: $fuenteCuerpo;
    }

  }

  .mapaContacto {
    margin: $margenBloques;
    padding: $paddingBloques;
    border: $bordesBloques;
    border-radius: $redondeoBordes;
    text-align: center;
    background-color: ghostwhite;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      text-align: center;
    }
  
    iframe {
      display: inline-block;
      width: 350px;
      height: 350px;
    }

  }

  /************************ MEDIA QUERY PARA ADAPTAR IMAGENES A PANTALLAS MAS CHICAS ************************/
  
  @media (max-width: 860px) {
    .tituloNosotros img {
      width: 280px;
      object-fit: contain;
    }
  
    .parrafoNosotros img {
      width: 280px;
      object-fit: contain;
    }
  
    .tareasServicios img {
      width: 280px;
    }
  
    .ejServicios iframe {
      width: 280px;
      height: 200px;
    }
  
    .noticia img {
      width: 280px;
      object-fit: contain;
    }
  
    .mapaContacto iframe {
      width: 280px;
      height: 280px;
    }
  }
  